* {
  list-style: none;
  box-sizing: border-box;
  border: 0 0 0 0;
  font-family: CentSchbook BT;
  text-decoration: none;
  color: black;
}
body {
  margin: 0;
  padding: 0;
}

nav {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: beige;
  overflow: hidden;
}

.picture {
  position: absolute;
  top: 0;
  left: 30px;
}

nav h1 {
  position: absolute;
  top: 0;
  left: 15%;
  font-size: 4rem;
  bottom: 0;
  margin: 0 0 0 0;
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.icon > li {
  display: inline;
  font-size: 2rem;
  margin-right: 2rem;
}

@keyframes moveBgImg {
  from {
    left: 0;
    top: 0;
    background-position: 0%;
  }

  to {
    right: 0;
    bottom: 0;
    background-position: 100%;
  }
}

.bgImage {
  background-image: url("./bg.jpg");
  width: 100%;
  height: 500px;
  background-attachment: fixed;
  animation: moveBgImg 10s ease-in-out 1s alternate-reverse infinite;
}

.sideMenuBar {
  width: 100%;
  height: 100px;
  background-color: #c3e1dd;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.sideMenuBar > li {
  display: inline;
  font-size: 2rem;
  margin-left: 50px;
}

.sideMenuBar a:hover {
  color: white;
}

main {
  margin-top: 50px;
  margin-bottom: 20px;
}

.searchBar {
  position: relative;
}

.searchBar h1 {
  font-weight: 400;
}

.searchBar form {
  position: absolute;
  display: inline;
  right: 0;
}

.searchBar input:not(nth-of-type(3)) {
  transition: all 2s;
}

.searchBar input:hover {
  transition: all 2s;
  background-color: #f5d6b4;
  color: white;
}

table {
  border: 2px solid beige;
  border-spacing: 15px;
  padding: 15px;
  width: 100%;
}

td {
  padding: 15px;
}

table tr td {
  border-bottom: 3px solid beige;
}

table tr td:first-child {
  width: 50px;
}

table tr td:nth-child(2) {
  width: 100px;
}

table tr td:nth-child(3) {
  width: 150px;
  text-align: center;
}

table tr td:nth-child(4) {
  width: 300px;
  border-left: 2px beige;
  border-right: 2px beige;
  transition: all 1s ease-in-out;
  margin: 0 auto;
  text-align: right;
}

table tr td:nth-child(4):hover {
  color: white;
  background-color: #f1ab8c;
  transition: all 0.5s ease-in-out;
  margin: 0 auto;
  margin-left: 20px;
}

footer > p {
  background-color: red;
}

main > input {
  float: right;
}

main > input::after {
  content: "";
  display: table;
  clear: both;
}
